.about {
    padding-bottom: 125px;
    @include mobile {
        padding-bottom: 50px;
    }
}
.about__wrapper-container {
    max-width: calc(var(--container-width) - 258.77px) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__wrapper {
    padding: 10px 0 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
    @include mobile {
        padding: 10px 0 40px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        & .about__img-wrapper {
            order: 1;
        }
        & .about__wrapper-content {
            order: 2;
        }
    }
}
.about__wrapper-content {
    flex-basis: 50%;

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.about__title {
    margin-bottom: 27px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 117%;
    text-transform: capitalize;
    color: var(--333333);
    @include mobile {
        margin-bottom: 17px;
        font-size: 26px;
        line-height: 138%;
        text-transform: capitalize;
        text-align: center;
    }
}

.about__content {
    margin-bottom: 36px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: var(--333333);
    @include mobile {
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 171%;
        text-align: center;
    }
}
.about__img-wrapper {
    position: relative;
    @include mobile {
        width: 290px;
        height: 200px;
    }
}
.about__img {
    border-radius: 300px;
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.03);
        filter: saturate(120%);
    }
    @include mobile {
        object-fit: cover;
    }
}
.about__wrapper-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 168px;
    @include mobile {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}
.about__items {
    text-align: center;
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.03);
        filter: saturate(120%);
    }
    p {
        margin-top: 27.4px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 292%;
        text-transform: capitalize;
        color: #000;
        @include mobile {
            margin-top: 15px;
            font-size: 22px;
        }
    }
}
