.collection__bottom {
    padding: 120px 0;
    @include mobile {
        padding: 60px 0;
    }
}

.collection__bottom-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 40px;
    padding: 0px 90px;
    @include mobile {
        display: flex;
        justify-content: space-between;
        gap: 9px;
        column-gap: unset;
        padding: unset;
    }
}
.collection__bottom-img img {
    border-radius: 200px;
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.03);
    }
}
