.footer {
	background: var(--efbd68);
	padding: 75px 0 100px;
	font-size: 32px;
	color: #fff;

	h1 {
		font-size: 32px;
	}

	a {
		// color: var(--link-color);
		color: #fff;
		text-decoration: underline;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer__copyright {
	padding: 10px 0;
	font-size: 16px;
}

.footer__header-wrapper {
	padding-bottom: 40px;
	border-bottom: 1px solid var(--333333);
	display: flex;

	.icon--logo {
		fill: var(--333333) !important;
	}
}

.footer__nav {
	.nav {
	}
	.nav__list {
		display: flex;
		flex-direction: column;
	}
}

.footer__nav-title {
}

.footer__contact-wrapper {
	display: flex;
	flex-direction: column;
}
.footer__contact-title {
}
.footer__bottom-wrapper {
}
.footer__copyright {
}
.footer__terms {
}
.footer__privacy {
}
