.header {
	background-color: #ffff;
	padding-top: 47px;

	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		a {
			justify-self: center;
		}
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}
