.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	// fill: transparent;
	// stroke: transparent;

	animation: color-change 6s infinite;
	@keyframes color-change {
		0% {
			fill: var(--efbd68);
		}
		25% {
			fill: darkorange;
		}
		50% {
			fill: darkslategrey;
		}
		75% {
			fill: var(--333333);
		}
		100% {
			fill: coral;
		}
	}
	&.icon--animation {
		animation: color-change 2s infinite;
		@keyframes color-change {
			0% {
				fill: var(--efbd68);
			}
			25% {
				fill: darkorange;
			}
			50% {
				fill: darkslategrey;
			}
			75% {
				fill: var(--333333);
			}
			100% {
				fill: coral;
			}
		}
	}
	&.icon--logo {
		width: 414px;
		height: 30px;
		fill: var(--efbd68);
		// justify-self: center;
	}
	&.icon--circle {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		fill: var(--333333);
	}
	&.icon--star__big {
		position: absolute;
		fill: var(--efbd68);
		width: 45px;
		height: 75px;
		top: 500px;
		left: 70px;
	}
	&.icon--star__small {
		position: absolute;
		fill: var(--efbd68);
		top: 100px;
		left: 750px;
		width: 39px;
		height: 65px;
	}
	&.icon--about__1 {
		position: absolute;
		fill: var(--efbd68);
		width: 45px;
		height: 75px;
		left: -70px;
		top: 350px;
	}
	&.icon--about__2 {
		position: absolute;
		fill: var(--333333);
		width: 52.23px;
		height: 64.18px;
		right: 0px;
		top: 0px;
	}

	// Grid
	&.icon--grid__1 {
		position: absolute;
		fill: var(--efbd68);
		width: 45px;
		height: 75px;
		left: 140px;
		top: 20px;
	}
	&.icon--grid__2 {
		position: absolute;
		fill: var(--efbd68);
		width: 45px;
		height: 75px;
		left: 100px;
		bottom: 210px;
	}
	&.icon--grid__3 {
		position: absolute;
		fill: var(--efbd68);
		width: 38px;
		height: 44px;
		left: 140px;
		bottom: 160px;
	}
	&.icon--grid__4 {
		position: absolute;
		fill: var(--efbd68);
		width: 38px;
		height: 44px;
		right: 480px;
		top: 100px;
	}
	&.icon--grid__5 {
		position: absolute;
		fill: var(--efbd68);
		width: 38px;
		height: 44px;
		right: 480px;
		bottom: 220px;
	}
	&.icon--grid__6 {
		position: absolute;
		fill: var(--efbd68);
		width: 38px;
		height: 44px;
		right: 120px;
		top: 80px;
	}
	&.icon--grid__7 {
		position: absolute;
		fill: var(--efbd68);
		width: 38px;
		height: 44px;
		right: 120px;
		bottom: 220px;
	}

	// Service
	&.icon--service__1 {
		position: absolute;
		fill: var(--efbd68);
		width: 62px;
		height: 71px;
		left: -110px;
		bottom: 0px;
	}
	&.icon--service__2 {
		position: absolute;
		fill: var(--efbd68);
		width: 61px;
		height: 51px;
		left: 180px;
		top: 100px;
	}
	&.icon--service__3 {
		position: absolute;
		fill: var(--efbd68);
		width: 45px;
		height: 75px;
		left: 400px;
		top: 0px;
	}
	&.icon--service__4 {
		position: absolute;
		fill: var(--333333);
		width: 79.93px;
		height: 120.35px;
		right: 0px;
		bottom: 0px;
	}
	&.icon--collection-bottom__1 {
		position: absolute;
		fill: var(--efbd68);
		width: 41px;
		height: 68px;
		left: 20px;
		top: 0px;
	}
	&.icon--collection-bottom__2 {
		position: absolute;
		fill: var(--efbd68);
		width: 62px;
		height: 71px;
		right: 50px;
		bottom: 0px;
	}
}
