.header__nav {
}
.nav {
	font-size: 18px;
}
.nav__list {
	display: flex;

	gap: 47px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 156%;

	a {
		color: var(--333333);
		&:hover {
			color: black;
		}
	}
}
.active {
}
