.section__swiper {
}

.swiper {
}
.mySwiper {
}
.swiper-wrapper {
    @include mobile {
        padding-bottom: 26px;
    }
}
.swiper-slide {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.swiper__img {
    margin-bottom: 46px;
    @include mobile {
        margin-bottom: 16px;
    }
}
.swiper__content {
    max-width: 1097px;
    margin-bottom: 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    color: var(--333333);
    @include mobile {
        margin-bottom: 8px;

        font-size: 14px;
        line-height: 186%;
    }
}
.swiper__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    text-transform: capitalize;
    text-align: center;
    color: var(--333333);
    @include mobile {
        font-size: 16px;
        line-height: 162%;
        text-transform: capitalize;
    }
}
.swiper-button-prev,
.swiper-button-next {
    color: var(--efbd68) !important;
    padding: 0px 100px 0px;
    @include mobile {
        display: none !important;
    }
    &.active {
        color: var(--333333) !important;
    }
}
.swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-android.swiper-backface-hidden.swiper-navigation-disabled {
    @include mobile {
        padding-bottom: 30px;
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--333333); /* Фон для обычных кругов */
}
@media (max-width: 320px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}
.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    opacity: 1 !important; /* Отменяем opacity, чтобы все кружки были одинакового цвета */
}

.swiper-pagination-bullet-active {
    background-color: var(--efbd68) !important; /* Задаем свойства для активного круга */
}
